* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(243, 242, 238);
}
/* Nav................................................ */
header {
  background-color: rgb(159, 153, 129);
  top: 0;
  width: 100%;
  text-align: center;
  font-size: x-large;
  font-family: "Anton", sans-serif;
}
nav li {
  color: #4e4a41;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
}
nav li a {
  color: rgb(94, 79, 61);
  text-decoration: none;
}
nav li a:hover {
  color: rgb(130, 223, 227);
}
main {
  font-size: medium;
}
/* Фотка..................................................................... */
.img {
  width: 225px;
  height: 225px;
  border-radius: 50px 0 50px 0;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  border: 15px solid;
  border-color: rgb(62, 58, 48) #b6a07a;
}
.name {
  text-align: center;
  margin: 20px;
  color: rgb(119, 91, 51);
  /* Тень текста .............................................*/
  text-shadow: 2px 2px 5px rgb(99, 88, 63), 0 0 1em rgb(134, 123, 101);
}
/* Обо мне.......................................... */
.me {
  display: block;
  text-align: center;
  width: 35%;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 5px solid;
  border-radius: 20px;
  background-color: rgb(186, 172, 153);
}
/* Скиллы...................................... */
.skills {
  display: block;
  width: 35%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  border: 5px solid;
  border-radius: 20px;
  /* Блоки с текстом........................................... */
  background-color: rgb(186, 172, 153);
}
/* code.............................................. */
.code {
  display: block;
  width: 35%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  border: 5px solid;
  border-radius: 20px;
  background-color: rgb(186, 172, 153);
}
/* Проекты............................................... */
.project {
  display: block;
  width: 35%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  border: 5px solid;
  border-radius: 20px;
  background-color: rgb(186, 172, 153);
}
.univer {
  display: block;
  width: 35%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  border: 5px solid;
  border-radius: 20px;
  background-color: rgb(186, 172, 153);
}
.contact {
  display: block;
  width: 35%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  border: 5px solid;
  border-radius: 20px;
  background-color: rgb(186, 172, 153);
}
footer {
  height: 50px;
  /* Цвет нижнеё херни...................................................... */
  background-color: rgb(137, 199, 210);
  margin-top: 30px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
}
.svg {
  height: 30px;
}
.gitlogo {
  height: 30px;
}
